
/* STYLESHEET FOR ACF FIELDS */

/* slide type */
#acf-slide_type ul.acf-radio-list.horizontal li { 
	padding-top: 120px; background-size: 180px; background-repeat: no-repeat; width: 180px; text-align: center; margin-bottom: 25px;
}
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(1) { background-image: url(../img/header-with-three-columns.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(2) { background-image: url(../img/header-with-four-columns.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(3) { background-image: url(../img/side-by-side.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(4) { background-image: url(../img/side-by-side-with-image.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(5) { background-image: url(../img/single-central-column.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(6) { background-image: url(../img/big-left-column.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(7) { background-image: url(../img/big-right-column.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(8) { background-image: url(../img/three-thumbnails.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(9) { background-image: url(../img/icon-grid.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(10) { background-image: url(../img/map.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(11) { background-image: url(../img/video.jpg); }
#acf-slide_type ul.acf-radio-list.horizontal li:nth-of-type(12) { background-image: url(../img/double-cta.jpg); }




/* slide palette */
#acf-slide_palette ul.acf-radio-list.horizontal li { 
	padding-top: 120px; background-size: 180px; background-repeat: no-repeat; width: 180px; text-align: center; margin-bottom: 25px;
}
#acf-slide_palette ul.acf-radio-list.horizontal li:nth-of-type(1) { background-image: url(../img/white-on-dark.jpg); }
#acf-slide_palette ul.acf-radio-list.horizontal li:nth-of-type(2) { background-image: url(../img/dark-on-white.jpg); }
#acf-slide_palette ul.acf-radio-list.horizontal li:nth-of-type(3) { background-image: url(../img/dark-on-grey.jpg); }

