
/* MAIN STYLESHEET */


/* WP CORE CLASSES */
.wp-caption, .wp-caption-text, .sticky, .screen-reader-text, .gallery-caption, .bypostauthor, .alignright, .alignleft, .aligncenter {}


/* fonts */
body, h1, h2, h3, p, a, div, span, input, select, textarea, label { font-family: "Poppins", sans-serif; font-weight: 400; }


/* core elements */
h1 { font-size: 50px; font-weight: 300; letter-spacing: 0; }
h2 { font-size: 30px; font-weight: 300; letter-spacing: 0; text-transform: none; margin-top: 50px; }
.side_by_side h2 { margin: 0 0 25px 0; }
h3, h3 a { font-weight: bold; }
section p { font-size: 30px; line-height: 35px; }
input[type=button] {
	background-color: #00a9dc; border-radius: 6px; padding: 12px 30px; display: inline-block; color: #fff; border: 0;
    outline: 0; text-decoration: none; font-size: 22px; font-weight: 500; vertical-align: top; cursor: pointer; overflow: hidden;
    position: relative; white-space: nowrap; box-shadow: inset 0 -100px 0 rgba(41,41,41,0); -webkit-appearance: none;
    margin-bottom: 20px; user-select: none !important; transition: .25s;
}
.nf-form-title { display: none; }
nf-field { display: inline-block; vertical-align: top; }
.label-above .nf-field-element { width: auto; }
input[type=text], input[type=email], input[type=number], input[type=tel], textarea {
	padding: 12px 30px; border-radius: 6px; border: 0; font-size: 22px;
}


/* Slides reset */
.button { background-color: #00a9dc; border-radius: 6px; padding: 12px 30px; font-family: "Poppins", sans-serif; }
.sections .menu li a { font-weight: 500; font-size: 17px; letter-spacing: 0; font-weight: bold; }
.panel .button { color: #57244b; background-color: #ffffff; border-radius: 6px; font-size: 16px; }
.panel.top .button.actionButton { background-color: #444444; }
.slide { background-color: #57244b; }
.slide.whiteSlide { color: #3c3c3b; }
.slide .button { margin-left: 0; margin-right: 0; }
.slide.fade .content { background: none; } /* remove the fade background */
.logo { display: none; }
.logo.inverted { display: block; }
.slides.whiteSlide .logo { display: block; }
.slides.whiteSlide .logo.inverted { display: none; }
.deepPurple { background-color: #57244b !important; }
.slide.whiteSlide.greyTint { background-color: #e3e3e3; }
.slide.latest_tweets { background-color: #57244b; }
.grid { margin-bottom: 20px; }
.menu-main-container li a { color: #ffffff; }
.current_page_item a { border-bottom: 2px solid; }
.whiteSlide .menu-main-container li a { color: #57244b; font-weight: bold; }
.slides.animated .video.kenBurns .background { opacity: 1; }
html:not(.mobile) .slide.video .background[style] { background-size: cover !important; }
.button.play { background-image: url(../img/play.png); background-size: 100%; }
.fix-10-12.left { margin-left: 0 !important; margin-right: 0 !important; text-align: left; max-width: 400px !important; }
.fix-10-12.center { margin-left: auto !important; margin-right: auto !important; text-align: center; margin-bottom: 50px; }
.fix-10-12.right { margin-left: 0 !important; margin-right: 0 !important; text-align: left; }
.lastSlide .nextSlide { display: none; }


/* slides general */
.slide-title { margin-bottom: 45px; }
.img-holder { width: 100%; margin-bottom: 20px; }
.img-holder .column-icon { margin: 0 auto; display: block; height: 80px; width: auto; }
.img-holder .column-image { margin: 0 auto; display: block; width: auto; }
.media-link { margin: 10px 0 20px 0; }
.media-link p { margin-bottom: 0; }
.media-link a { 
	color: #00a9dc; padding-left: 25px; background-image: url(../img/download.png); background-repeat: no-repeat;
	background-position: left center; font-size: 18px;
}
.media-caption { font-size: 18px; color: #999999; }
.size-full { width: 100%; height: auto; }


/* join newsletter form */
#nf-form-2-cont nf-field:nth-of-type(1) { width: 50%; }
#nf-form-2-cont nf-field:nth-of-type(2) { width: 30%; }
#nf-form-2-cont nf-field:nth-of-type(2) input { width: 90%; }


/* columns */
.column { font-size: 16px; line-height: 20px; }
.col-4-12 h2, .col-4-12 h3 { font-size: 22px; text-transform: uppercase; }
.col-3-12 h2, .col-3-12 h3 { font-size: 22px; text-transform: uppercase; }
.ae-3 .small, .ae-4 .small { font-size: 16px; line-height: 20px; font-weight: bold; }
.column-cta { 
	color: #00a4e1; padding-left: 15px; background-image: url(../img/arrow-right.png); background-position: left 5px;
	background-repeat: no-repeat; display: inline-block; margin-bottom: 25px;
}


/* header with columns */
.header_with_columns h1 { margin-bottom: 30px; }
.header_with_columns p { font-weight: 300; margin-bottom: 15px; font-size: 26px; }
.header_with_columns .button { margin-left: 0; margin-bottom: 50px; }


/* side by side */
.side_by_side h1 { font-size: 42px; margin-bottom: 10px; }
.side_by_side p { font-size: 22px; line-height: 32px; }
.left-hand-image, .right-hand-image { 
	position: absolute; top: 0; left: 0; width: 50%; height: 100%; box-sizing: border-box; margin: 0; padding: 0; overflow: hidden;
}
.right-hand-image { left: auto; right: 0; }
.left-hand-image img, .right-hand-image img { 
	height: 100%; width: auto; margin-right: 0; margin-top: 0; margin-bottom: 0; margin-left: 0; 
}
.side_by_side .grid .col-6-12:nth-of-type(1) { box-sizing: border-box; padding-left: 0%; padding-right: 8%; }
.side_by_side .grid .col-6-12:nth-of-type(2) { box-sizing: border-box; padding-left: 8%; padding-right: 0%; }
.side_by_side p { font-weight: 300; margin-bottom: 15px; font-size: 26px; }
.side_by_side .col-6-12 p { padding-top: 25px; font-size: 21px; line-height: 30px; font-weight: 500; }
.side_by_side .button { margin-top: 25px; padding: 12px 20px; }
.side_by_side .grid .grid li { width: 32%; display: inline-block; vertical-align: top; margin-bottom: 20px; text-align: center; }
.side_by_side .grid .grid li a { display: inline-block; }



/* three thumbnails */
.three_thumbnails .thumbnail-link { overflow: hidden; position: relative; display: block; }
.three_thumbnails .thumbnail-link img { width: 100%; height: auto; }
.three_thumbnails .thumbnail-content { 
	position: absolute; top: 0; left: 0; width: 100%; height: 100%; box-sizing: border-box;
}
.three_thumbnails .thumbnail-title { 
	position: absolute; left: 0; text-transform: uppercase; font-weight: 500; top: 50%; margin-top: -0.5em; width: 100%;
	font-weight: bold; color: #ffffff;
}


/* single central column */
.single_central_column p { font-size: 25px; line-height: 32px; }
.single_central_column .button { margin-top: 10px; }


/* map */
.map { }
.map-footer { }
.info-window { text-align: left; }
.info-window h2 { margin: 20px 0; color: #57244b; font-size: 22px; font-weight: 500; text-transform: uppercase; }
.info-window p { max-width: 300px; font-size: 16px; line-height: 22px; margin-bottom: 20px; }
.info-window a { 
	color: #00a4e1; padding-left: 15px; background-image: url(../img/arrow-right.png); background-position: left 5px;
	background-repeat: no-repeat; display: inline-block; margin-bottom: 25px; font-size: 16px; text-transform: uppercase;
}


/* double CTA */
.cta-bar .button {
	background-color: #572452; color: #ffffff; border-radius: 0; width: 30%; height: 150px; box-sizing: border-box;
	line-height: 150px;	text-transform: uppercase; display: inline-block; vertical-align: top; padding: 0; font-weight: 600;
	margin: 0 10px; margin-bottom: 20px;
}
.cta-bar .button:hover { 
	box-shadow: inset 0 0 0 rgba(41,41,41,0.15),0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
	-webkit-box-shadow: inset 0 0 0 rgba(41,41,41,0.15),0 4px 6px 0 rgba(0,0,0,.1),0 1px 10px 0 rgba(0,0,0,.1),0 2px 4px -1px rgba(0,0,0,.1);
}


/* post grid */
.post-grid { font-size: 0; }
.post-grid li { display: inline-block; vertical-align: top; width: 23%; margin: 20px 1%; font-size: 18px; }
.global-contact .img-holder { width: 100%; height: 200px; overflow: hidden; margin-bottom: 0; }
.global-contact .img-holder img { width: 100%; height: auto; }
.global-contact .post-content { background-color: #ffffff; box-sizing: border-box; padding: 20px; }
.global-contact a.post-title { font-weight: 500; display: block; margin-bottom: 20px; }
.global-contact .post-excerpt { font-size: 14px; }
.tweet { 
	background-color: #ffffff; border-radius: 8px; overflow: hidden; width: 25%; font-size: 16px; text-align: left; color: #333333;
}
.tweet-inner { box-sizing: border-box; padding: 20px; }
.tweet .img-holder { width: 100%; height: 140px; overflow: hidden; margin-bottom: 0; }
.tweet .img-holder.no-image { 
	background-image: url(../img/twitter-purple.png); background-repeat: no-repeat; background-position: center;
}
.tweet .img-holder img { width: 100%; height: auto; }
.tweet .post-content { 
	box-sizing: border-box; padding: 0; font-size: 15px; line-height: 22px; word-wrap: break-word; color: #333333;
}
.twitter-screen-name { font-weight: bold; font-size: 16px; line-height: 16px; }
.twitter-username { 
	color: #00a9dc; font-size: 14px; display: inline-block; margin-bottom: 15px; font-weight: 500; cursor: pointer;
}
.twitter-text { font-weight: 500; height: 90px; overflow: hidden; }
.twitter-time { display: block; color: #bbbbbb; font-size: 14px; margin-top: 10px; }
.twitter-cta {
	background-color: #00a9dc; color: #ffffff; border-radius: 0; width: 90%; box-sizing: border-box; margin: 15px auto 0 auto;
	display: block; padding: 0; font-weight: 400; text-align: center; padding: 20px 0; font-size: 18px; border-radius: 6px;
	cursor: pointer;
}
.tweet:nth-of-type(4) .post-content { text-align: center; }
.job .img-holder { width: 100%; height: 200px; overflow: hidden; margin-bottom: 0; }
.job .img-holder img { width: 100%; height: auto; }
.job .post-content { background-color: #ffffff; box-sizing: border-box; padding: 20px; }
.job a.post-title { font-weight: 500; display: block; margin-bottom: 20px; }
.download .post-excerpt { font-size: 14px; }
.download .img-holder { width: 100%; height: 200px; overflow: hidden; margin-bottom: 0; }
.download .img-holder img { width: 100%; height: auto; }
.download .post-content { 
	background-color: #ffffff; box-sizing: border-box; padding: 20px; background-image: url(../img/download.png);
	background-repeat: no-repeat; background-position: 93% 10%;
}
.download a.post-title { font-weight: 500; display: block; margin-bottom: 20px; width: 92%; }
.download .post-excerpt { font-size: 14px; }
.blog-article .img-holder { width: 100%; height: 200px; overflow: hidden; margin-bottom: 0; }
.blog-article .img-holder img { width: 100%; height: auto; }
.blog-article .post-content { background-color: #ffffff; box-sizing: border-box; padding: 20px; }
.blog-article a.post-title { font-weight: 500; display: block; margin-bottom: 20px; }
.blog-article .post-excerpt { font-size: 14px; }
.blog-article .img-holder img { height: 100%; width: auto; max-width: none; }
.blog-article.featured { height: 400px; position: relative; overflow: hidden; }
.blog-article.featured .img-holder { height: auto; }
.blog-article.featured .img-holder img { width: 100%; height: auto; }
.blog-article.featured .post-title { font-size: 50px; margin: 50px auto; }
.blog-article.featured .post-content { background-color: transparent; position: absolute; top: 0; left: 0; width: 100%; height: 100%; }


/* sidebar */
.whiteSlide .sidebar .menu-main-container li a { color: #ffffff; }
.sidebar #menu-main-1 { margin-bottom: 0; }
.main-menu-add-on li a { font-size: 19px; font-weight: 700; text-transform: uppercase; letter-spacing: .15em; }
.sidebar #menu-corporate { padding-top: 0; }
.sidebar #menu-corporate li { display: block; }
.sidebar #menu-corporate li a { font-weight: normal; padding: 0; }


/* footer */
.footer.fade .content { background-color: #3c3c3b; }
.footer h2, .footer h3 { text-transform: uppercase; font-weight: bold; margin-bottom: 0; }
.social li { display: inline-block; margin: 10px 25px; }
#menu-corporate-1 { padding-top: 100px; }
#menu-corporate-1 li { display: inline-block; }
#menu-corporate-1 li a { text-transform: uppercase; font-weight: bold; font-size: 22px; padding: 0 40px; }
#menu-legal { padding: 50px 0; }
#menu-legal li { display: inline-block; }
#menu-legal li a { text-transform: uppercase; font-weight: 500; font-size: 16px; padding: 0 10px; }
.copyright { padding-top: 50px; font-size: 18px; }
.frsb { display: block; width: 200px; margin: 25px auto; }
.frsb img { width: 100%; }


/* bottom panel */
.panel.bottom { position: relative; bottom: auto; padding: 50px 0 0 0; }
.panel.bottom .sections .left { font-size: 14px; }
.panel.bottom .sections .menu li a { font-size: 14px; }



/* legal pages */
.small-text section.single_central_column h2 { font-weight: 500; text-align: left; }
.small-text section.single_central_column p { font-size: 18px; text-align: left; }


/* slide specific */
body.home.slides.whiteSlide.stage-1 .panel .menuButton { color: #57244b; background-color: #ffffff; }
section:nth-of-type(1) h1 { font-size: 60px; }
section:nth-of-type(1).header_with_3_columns h1 { margin-bottom: 10px; }
section:nth-of-type(1).header_with_3_columns .fix-10-12 p { font-size: 30px; }
#nf-form-3-cont nf-field { display: block; }
#nf-form-3-cont .nf-field-label { display: none; }
.wp-list-table { width: 100%; }


/* Slides / Ninja Forms clash fix */
.wp-list-table.fixed { position: relative !important; }







