
/* RESPONSIVE RULES */

@media all and (max-width: 1023px) {
	.left-hand-image { position: relative; overflow: visible; }
	.right-hand-image { position: relative; left: 0; width: 100%; }
	.left-hand-image img, .right-hand-image img { max-width: 200% !important; width: 200%; height: auto; }
}